a==1.0
altair==4.2.0
attrs==22.1.0
certifi==2022.9.24
charset-normalizer==2.1.1
entrypoints==0.4
frame==0.3.1
idna==3.4
jedi==0.18.1
Jinja2==3.1.2
jsonschema==4.16.0
MarkupSafe==2.1.1
multipart==0.2.4
numpy==1.23.2
pandas==1.5.1
parso==0.8.3
Pillow==9.2.0
pycrossword==0.4.0.3
pygame==2.1.2
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
PyQt5Designer==5.14.1
PyQt6==6.4.0
PyQt6-Qt6==6.4.0
PyQt6-sip==13.4.0
pyrsistent==0.19.1
python-dateutil==2.8.2
python-dotenv==0.21.0
pytz==2022.6
QScintilla==2.13.3
qt5-applications==5.15.2.2.2
repoze.lru==0.7
requests==2.28.1
Routes==2.5.1
schedule==1.1.0
six==1.16.0
toolz==0.12.0
urllib3==1.26.12
Yapsy==1.12.2